/* Query mobile */
@include mobile {

    /* Secciones del centro del blog */

    /* aside */


    .mainBlog {
        background-color: #0e131f;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'aside imagenes';
        background-color: #0e131f;
        margin: 1em;

    }


    .uno {


        display: none;
        grid-area: aside;


    }

    /* imagenes */
    .dos {


        grid-area: imagenes;



        .imgContainer {

            .imgCol {

                width: 150%;


                div {
                    margin-left: 1em;

                    img {
                        width: 100%;


                    }
                }
            }

            .imgCol2 {
                width: 150%;

                div {
                    margin-left: 1em;

                    img {
                        width: 100%;

                    }
                }
            }


        }


    }

    /* Seccion pinturas */

    /* titulo pinturas */

    .vallejo-title {
        display: inline;
        justify-content: flex-start;
        color: white;
        padding: 50px;

        font-size: 1rem;

        h3 {
            width: 60%;
            margin-left: 0.5em;
        }

        p {
            width: 60%;
            font-size: 80%;
            margin-left: 1em;
        }

    }

    /* galeria pinturas */




    /* Contactos */


    .header-formulario {
        color: white;
        margin-top: 1em;

        h2 {
            display: flex;
            justify-content: center;
            font-size: 2rem;

        }
    }


    .section-formulario {
        font-size: 1.5rem;

        color: white;
        border: 1px solid grey;
        width: 60%;
        margin: 1em 0 1em 4em;

        .mb-3 {
            font-size: 1.2rem;
            padding: 1em;

        }


    }

    .btnEnviar {
        font-size: 1.2rem;
    }




}

/* media query para tablet */


@include tablets {

    /* index */

    .main-section {
        div {
            h3 {
                font-size: 2rem;
            }

            h4 {
                font-size: 2rem;
            }
        }
    }


    /* seccion blog */



    .uno {
        margin-right: 3em;
        font-size: 1.3rem;
    }



    .dos {
        grid-area: imagenes;

        .imgContainer {

            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 0.5rem;


            .imgCol {
                display: flex;
                flex-direction: row;
                width: 100%;

                div {
                    padding: 5px;

                    img {
                        width: 80%;
                    }
                }
            }

            .imgCol2 {
                display: flex;
                flex-direction: row;

                div {
                    padding: 5px;

                    img {
                        width: 80%;
                    }
                }
            }
        }
    }







    /* Contactos */


    .header-formulario {
        color: white;

        h2 {
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            margin-top: 1em;
        }
    }


    .section-formulario {
        color: white;
        border: 1px solid grey;
        width: 80%;
        margin: 1em 0 1em 8em;
        font-size: 1.3rem;

        .mb-3 {
            font-size: 1.6rem;
            padding: 1em;
        }
    }

    /* Productos */

    .header-products {
        display: flex;
        justify-content: center;
        color: whitesmoke;

        font-family: var(--fuente-primaria);

        h2 {
            font-size: 4rem;
        }
    }

    .gProductos {
        .accordion-header {
            button {
                font-size: 1.5rem;
                text-indent: 10em;
            }
        }

        .accordion-body {
            font-size: 1.5rem;
            font-weight: 250;
        }

        p {
            color: white;
            text-align: center;
            font-size: 2rem;
        }

        img {
            padding: 1em;
        }

        .btn-danger {

            font-size: 1.5rem;
            font-weight: 200;
            letter-spacing: 0.3px;

        }

    }

}

@include desktop {
    /* index */

    .main-section {
        div {
            h3 {
                font-size: 2.5rem;
            }

            h4 {
                font-size: 2.5rem;
            }
        }
    }

    /* Blog */

    .uno {
        margin-right: 3em;
        font-size: 1.3rem;
    }



    .dos {
        grid-area: imagenes;

        .imgContainer {

            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 0.5rem;


            .imgCol {
                display: flex;
                flex-direction: row;
                width: 100%;

                div {
                    padding: 5px;

                    img {
                        width: 80%;
                    }
                }
            }

            .imgCol2 {
                display: flex;
                flex-direction: row;

                div {
                    padding: 5px;

                    img {
                        width: 80%;
                    }
                }
            }
        }
    }



    /* contacto */

    .header-formulario {
        color: white;

        h2 {
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            margin-top: 1em;
        }
    }


    .section-formulario {
        color: white;
        border: 1px solid grey;
        width: 80%;
        margin: 1em 0 1em 8em;
        font-size: 1.3rem;

        .mb-3 {
            font-size: 1.6rem;
            padding: 1em;
        }
    }

    



    /* Footer */

    footer {
        .main-footer {
            div {
                h2 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 2.5rem;
                }
            }
        }
    }

    /* Productos */

    .header-products {
        display: flex;
        justify-content: center;
        color: whitesmoke;

        font-family: var(--fuente-primaria);

        h2 {
            font-size: 4rem;
        }
    }

    .gProductos {
        .accordion-header {
            button {
                font-size: 1.2rem;

            }
        }

        .accordion-body {
            font-size: 1.3rem;
            font-weight: 250;
        }

        p {
            color: white;
            text-align: center;
            font-size: 1.6rem;
        }

        img {
            padding: 1em;
        }

        .btn-danger {

            font-size: 1.5rem;
            font-weight: 200;
            letter-spacing: 0.3px;

        }

    }


}

/* Mq para los tamaños mayores a 1200px */
@media (min-width: 1200px) {

    /* Productos */

    .header-products {
        display: flex;
        justify-content: center;
        color: whitesmoke;

        font-family: var(--fuente-primaria);

        h2 {
            font-size: 4rem;
        }
    }

    .gProductos {
        .accordion-header {
            button {
                font-size: 1.4rem;
                text-indent: 4.5em;


            }
        }

        .accordion-body {
            font-size: 1.3rem;
            font-weight: 250;
        }

        p {
            color: white;
            text-align: center;
            font-size: 1.6rem;
        }

        img {
            padding: 1em;
        }

        .btn-danger {

            font-size: 1.5rem;
            font-weight: 200;
            letter-spacing: 0.3px;

        }

    }



}