@mixin mobile {
    @media (max-width: 480px) and (min-width: 280px) {
        @content
    }
}

;

@mixin tablets {
    @media (max-width: 1023px) and (min-width: 768px) {
        @content
    }
}

;

@mixin desktop {
    @media (max-width: 2560px) and (min-width: 1024px) {
        @content
    }
}

;