/* barra de busqueda */
.buscador {
    display: flex;
    justify-content: center;
    margin: 1em 0em 1em 0;


    .src {
        font-size: 2rem;
        width: 60%;
    }


}

/* Titulo+texto sobre pintura */

.vallejo-title {
    display: flex;
    justify-content: center;
    color: white;   

    h3 {
        text-align: center;
        font-size: 2.5rem;
    }

    p {
        font-family: var(--fuente-secundaria);
      
    }

}

/* Seccion de imagenes */

.galeria {

    width: 100%;

    img {
        width: 100%;
    }

    /* Precios */
    .precio {
        font-family: var(--fuente-secundaria);
        margin-top: -1em;
    }

    /* Texto debajo de las imagenes */
    p {
        font-family: var(--fuente-secundaria);
        margin-left: 1.5em;
        color: white;
        width: 80%;
        text-align: center;
    }

    /* Div de los botones para posicionarlos */
    .btnDiv {
        margin-top: -0.7em;
        padding-bottom: 1em;

        .btn {
            min-height: 1em;
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: 0.3px;
        }
    }
}