/* barra de busqueda */
.buscador {
    display: flex;
    justify-content: center;
    margin: 1em 0em 1em 0;


    .src {
        font-size: 2rem;
        width: 60%;
    }


}

/* Titulo+texto sobre pintura */

.vallejo-title {
    display: flex;
    justify-content: center;
    color: white;

    h3 {
        text-align: center;
        font-size: 2.5rem;
    }


}

.vallejo-parrafo {
    display: flex;
    justify-content: center;
    color: white;


    p {
        font-family: var(--fuente-secundaria);
        color: white;
        width: 65%;
    }
}

/* Seccion de imagenes */