@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Teko:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
:root {
  --fuente-primaria:  'Teko', sans-serif;
  --fuente-secundaria:'lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  font-size: 2rem;
}

body {
  font-family: var(--fuente-primaria);
  background-color: #0e131f;
}

main {
  color: white;
}

.secondary-header {
  font-family: var(--fuente-primaria);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}

.secondary-header h2 {
  font-size: 2rem;
}

.guion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
  margin-right: 3em;
}

.main-section div {
  padding: 1em;
}

.main-section div h3 {
  font-size: 1.5rem;
}

.main-section div h4 {
  font-size: 1.5rem;
}

.main-section div button {
  font-size: 1.5rem;
}

.main-section .main-image {
  padding: 2em;
  background-image: url("../imagenes/fondoImagenes.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 4em;
}

.main-section .btn {
  background-color: #d83442;
  color: white;
}

.main-section .btn:hover {
  color: black;
}

.third-header {
  font-family: var(--fuente-primaria);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  color: white;
}

.third-header div {
  background-image: url("../imagenes/backgroundTextos.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px 5px 0 5px;
}

.third-header div p {
  font-size: 1.3rem;
}

.secondary-section {
  font-family: var(--fuente-primaria);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  font-size: 1.7rem;
  margin-top: 0.5em;
  color: white;
}

.secondary-section ul {
  background-image: url("../imagenes/backgroundTextos.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondary-section ul li {
  font-family: var(--fuente-primaria);
  font-size: 1.3rem;
  list-style: none;
  font-weight: 200;
  letter-spacing: 1px;
}

.secondary-section ul li img {
  padding-bottom: 23px;
}

.secondary-section ul li h3 {
  font-size: 1.7rem;
}

footer .main-footer {
  background-image: url("../imagenes/backgroundFooter.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  color: whitesmoke;
  padding: 1em 0 1em 2em;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
}

footer .main-footer div h2 {
  font-size: 2.5rem;
}

footer .main-footer div p {
  font-size: 1.3rem;
}

footer .section-contact {
  color: white;
  font-size: 2rem;
}

footer .section-contact h3 {
  padding: 10px 10px 10px;
}

footer .section-contact div {
  padding: 10px 10px 10px;
}

/* barra de busqueda */
.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0em 1em 0;
}

.buscador .src {
  font-size: 2rem;
  width: 60%;
}

/* Titulo+texto sobre pintura */
.vallejo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.vallejo-title h3 {
  text-align: center;
  font-size: 2.5rem;
}

.vallejo-parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.vallejo-parrafo p {
  font-family: var(--fuente-secundaria);
  color: white;
  width: 65%;
}

/* Seccion de imagenes */
hr {
  width: 75%;
}

.mainBlog {
  background-color: #0e131f;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'aside imagenes';
  background-color: #0e131f;
  margin: 1em;
  /* Menu aside */
  /* Imagenes */
}

.mainBlog .uno {
  margin-left: 8em;
  height: auto;
  width: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aside;
}

.mainBlog .uno .breadcrumb {
  text-decoration: none;
}

.mainBlog .uno a {
  color: white;
}

.mainBlog .uno a:hover {
  text-decoration: underline;
}

.mainBlog .dos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imagenes;
}

.mainBlog .dos .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
}

.mainBlog .dos .imgContainer .imgCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.mainBlog .dos .imgContainer .imgCol div {
  padding: 5px;
}

.mainBlog .dos .imgContainer .imgCol div img {
  width: 80%;
}

.mainBlog .dos .imgContainer .imgCol2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainBlog .dos .imgContainer .imgCol2 div {
  padding: 5px;
}

.mainBlog .dos .imgContainer .imgCol2 div img {
  width: 80%;
}

.header-formulario {
  color: white;
}

.header-formulario h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-formulario {
  color: white;
  border: 1px solid grey;
  width: 70%;
  margin: 1em 0 1em 15em;
}

.section-formulario .mb-3 {
  padding: 1em;
}

.btnEnviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

/* 

.galeria-products {
    color: whitesmoke;

  
.accordion-body{
    color: black;
    
}
    p {

        font-size: 1.3em;
        text-align: center;
    }

    .btnDiv {
        padding: 0.5em;
        margin-left: 1em;
        text-align: center;

        .btn {
            min-height: 4em;
            
        }

    }
} */
.header-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  font-family: var(--fuente-primaria);
}

.header-products h2 {
  font-size: 4rem;
}

.gProductos .accordion-header button {
  font-size: 1.5rem;
  text-indent: 3.5em;
}

.gProductos .accordion-body {
  font-size: 1.5rem;
  font-weight: 250;
}

.gProductos p {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.gProductos img {
  padding: 1em;
}

.gProductos .btn-danger {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.3px;
}

/* Query mobile */
@media (max-width: 480px) and (min-width: 280px) {
  /* Secciones del centro del blog */
  /* aside */
  .mainBlog {
    background-color: #0e131f;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.2fr 1fr;
        grid-template-columns: 0.2fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'aside imagenes';
    background-color: #0e131f;
    margin: 1em;
  }
  .uno {
    display: none;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: aside;
  }
  /* imagenes */
  .dos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: imagenes;
  }
  .dos .imgContainer .imgCol {
    width: 150%;
  }
  .dos .imgContainer .imgCol div {
    margin-left: 1em;
  }
  .dos .imgContainer .imgCol div img {
    width: 100%;
  }
  .dos .imgContainer .imgCol2 {
    width: 150%;
  }
  .dos .imgContainer .imgCol2 div {
    margin-left: 1em;
  }
  .dos .imgContainer .imgCol2 div img {
    width: 100%;
  }
  /* Seccion pinturas */
  /* titulo pinturas */
  .vallejo-title {
    display: inline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: white;
    padding: 50px;
    font-size: 1rem;
  }
  .vallejo-title h3 {
    width: 60%;
    margin-left: 0.5em;
  }
  .vallejo-title p {
    width: 60%;
    font-size: 80%;
    margin-left: 1em;
  }
  /* galeria pinturas */
  /* Contactos */
  .header-formulario {
    color: white;
    margin-top: 1em;
  }
  .header-formulario h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
  }
  .section-formulario {
    font-size: 1.5rem;
    color: white;
    border: 1px solid grey;
    width: 60%;
    margin: 1em 0 1em 4em;
  }
  .section-formulario .mb-3 {
    font-size: 1.2rem;
    padding: 1em;
  }
  .btnEnviar {
    font-size: 1.2rem;
  }
}

/* media query para tablet */
@media (max-width: 1023px) and (min-width: 768px) {
  /* index */
  .main-section div h3 {
    font-size: 2rem;
  }
  .main-section div h4 {
    font-size: 2rem;
  }
  /* seccion blog */
  .uno {
    margin-right: 3em;
    font-size: 1.3rem;
  }
  .dos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: imagenes;
  }
  .dos .imgContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.5rem;
  }
  .dos .imgContainer .imgCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .dos .imgContainer .imgCol div {
    padding: 5px;
  }
  .dos .imgContainer .imgCol div img {
    width: 80%;
  }
  .dos .imgContainer .imgCol2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .dos .imgContainer .imgCol2 div {
    padding: 5px;
  }
  .dos .imgContainer .imgCol2 div img {
    width: 80%;
  }
  /* Contactos */
  .header-formulario {
    color: white;
  }
  .header-formulario h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2.5rem;
    margin-top: 1em;
  }
  .section-formulario {
    color: white;
    border: 1px solid grey;
    width: 80%;
    margin: 1em 0 1em 8em;
    font-size: 1.3rem;
  }
  .section-formulario .mb-3 {
    font-size: 1.6rem;
    padding: 1em;
  }
  /* Productos */
  .header-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: whitesmoke;
    font-family: var(--fuente-primaria);
  }
  .header-products h2 {
    font-size: 4rem;
  }
  .gProductos .accordion-header button {
    font-size: 1.5rem;
    text-indent: 10em;
  }
  .gProductos .accordion-body {
    font-size: 1.5rem;
    font-weight: 250;
  }
  .gProductos p {
    color: white;
    text-align: center;
    font-size: 2rem;
  }
  .gProductos img {
    padding: 1em;
  }
  .gProductos .btn-danger {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.3px;
  }
}

@media (max-width: 2560px) and (min-width: 1024px) {
  /* index */
  .main-section div h3 {
    font-size: 2.5rem;
  }
  .main-section div h4 {
    font-size: 2.5rem;
  }
  /* Blog */
  .uno {
    margin-right: 3em;
    font-size: 1.3rem;
  }
  .dos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: imagenes;
  }
  .dos .imgContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.5rem;
  }
  .dos .imgContainer .imgCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .dos .imgContainer .imgCol div {
    padding: 5px;
  }
  .dos .imgContainer .imgCol div img {
    width: 80%;
  }
  .dos .imgContainer .imgCol2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .dos .imgContainer .imgCol2 div {
    padding: 5px;
  }
  .dos .imgContainer .imgCol2 div img {
    width: 80%;
  }
  /* contacto */
  .header-formulario {
    color: white;
  }
  .header-formulario h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2.5rem;
    margin-top: 1em;
  }
  .section-formulario {
    color: white;
    border: 1px solid grey;
    width: 80%;
    margin: 1em 0 1em 8em;
    font-size: 1.3rem;
  }
  .section-formulario .mb-3 {
    font-size: 1.6rem;
    padding: 1em;
  }
  /* Footer */
  footer .main-footer div h2 {
    font-size: 2.5rem;
  }
  footer .main-footer div p {
    font-size: 2.5rem;
  }
  /* Productos */
  .header-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: whitesmoke;
    font-family: var(--fuente-primaria);
  }
  .header-products h2 {
    font-size: 4rem;
  }
  .gProductos .accordion-header button {
    font-size: 1.2rem;
  }
  .gProductos .accordion-body {
    font-size: 1.3rem;
    font-weight: 250;
  }
  .gProductos p {
    color: white;
    text-align: center;
    font-size: 1.6rem;
  }
  .gProductos img {
    padding: 1em;
  }
  .gProductos .btn-danger {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.3px;
  }
}

/* Mq para los tamaños mayores a 1200px */
@media (min-width: 1200px) {
  /* Productos */
  .header-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: whitesmoke;
    font-family: var(--fuente-primaria);
  }
  .header-products h2 {
    font-size: 4rem;
  }
  .gProductos .accordion-header button {
    font-size: 1.4rem;
    text-indent: 4.5em;
  }
  .gProductos .accordion-body {
    font-size: 1.3rem;
    font-weight: 250;
  }
  .gProductos p {
    color: white;
    text-align: center;
    font-size: 1.6rem;
  }
  .gProductos img {
    padding: 1em;
  }
  .gProductos .btn-danger {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.3px;
  }
}
/*# sourceMappingURL=style.css.map */